
.cur{
	width: 960px;
	margin: 0 auto;

}

.title {	
	font-family: "Arial";
	position: static;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #33BEBE;
	font-size: 48px;
	height: 50px;
	padding-top: 20px;
	padding-left: 15px;
	margin-right: 100px;
	margin-bottom: 35px;
	z-index: 1;

       }

.izq{
	padding-left: 20px;
	padding-right: 100px;
	top: 5%;
	transform: translateY(-8%);
	text-align : justify;
	
}


img{
    width:400px;
    height:300px;
   } 
.to{
	color: #7C8888; 
	font-size: 24px;
	font-family:helvetica;
}
.tex{
	display: flex;
	position: relative;
}

.ima{
	display: flex;
	position: relative;
}